extends ../layout.jade
block body
	h2(class="pacifico center-align") Noticias
	div(class="row container")
		each noticia, i in notice
			div(class="col l6 m6 s12")
				div(class="card blue-grey darken-1 small")
					div(class="card-image")
						img(src="#{ noticia.imageUrl }")
						a(href="/noticias/#{ noticia.id }" class="card-title truncate black-text green")= noticia.title
					div(class="card-content")
						p(class="truncate")= noticia.description
						div(class="divider")
						a(href="/noticias/#{ noticia.id }" class="right") Leer mas